/*Mixins*/

/*Extends*/

body {
  font-family: Lato;
}

a:hover,
button:hover {
  -o-transition: .5s !important;
  -ms-transition: .5s !important;
  -moz-transition: .5s !important;
  -webkit-transitio: n 0.5s !important;
  -webkit-transition: .5s !important;
  transition: .5s !important;
  text-decoration: none !important;
}

#body h1 {
  padding: 0px;
  margin: 0px;
  marign-bottom: 18px;
  font-size: 18px;
  font-weight: 700;
}

#footer p {
  padding: 0px;
  margin: 0px;
  marign-bottom: 15px;
  font-size: 12px;
  font-weight: 400;
}

/*Resources	*/

/*White*/

/*Blue*/

/*Dark Blue*/

/*Dirty White*/

/*Dark Grey*/

/*Super Dark Grey*/

/*Main Style*/

body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: auto;
  background-color: #2878b3;
}

a:focus,
button:focus {
  outline: 0;
}

ul {
  padding: 0px;
  margin: 0px;
}

nav.navbar {
  padding: 0px;
}

nav.navbar .collapse {
  padding: 0px 15px;
}

nav.navbar a {
  padding: 0px;
  margin: 0px;
}

nav.navbar img {
  max-width: 250px;
}

nav.navbar .nav-item a {
  font-size: 14px;
  color: #f9f9f9;
}

nav.navbar .nav-item a:hover {
  font-size: 14px;
  color: #f9f9f9;
}

nav.navbar .nav-item .dropdown-menu {
  padding: 0px;
  margin: 0px;
  border-radius: 0px;
  border: 0px;
  -webkit-box-shadow: 1px 1px rgba(119, 119, 119, 0.9);
          box-shadow: 1px 1px rgba(119, 119, 119, 0.9);
}

nav.navbar .nav-item .dropdown-menu a {
  background-color: #f9f9f9;
  font-size: 12px;
  color: #777777;
  padding: 5px 10px;
}

nav.navbar .nav-item .dropdown-menu a:hover {
  background-color: #777777;
  color: #f9f9f9;
}

/*Container Style*/

#container {
  padding: 10px;
  margin: 0px;
  width: 100%;
  height: auto;
}

#header {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: auto;
  background-color: #ffffff;
}

#body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: auto;
  background-color: #f9f9f9;
}

#footer {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: auto;
  background-color: #2878b3;
  color: #ffffff;
}

