/*Mixins*/

/*Extends*/

#container {
  font-family: Lato;
}

a,
button,
a :hover {
  -webkit-transition: .5s !important;
  transition: .5s !important;
  text-decoration: none !important;
}

/*Resources	*/

/*Main Style*/

body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: auto;
  background-color: #2878b3;
}

a :focus {
  outline: 0;
}

ul {
  padding: 0px;
  margin: 0px;
}

/*Container Style*/

#container {
  padding: 10px;
  margin: 0px;
  width: 100%;
  height: auto;
}

#header {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: auto;
  background-color: #ffffff;
}

#navbar {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: auto;
  background-color: #ffffff;
}

#body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: auto;
  background-color: #ffffff;
}

#footer {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: auto;
  background-color: #2878b3;
  color: #ffffff;
}

#footer p {
  font-size: 12px;
}

