@import 'template';

/*Main Style*/
	body {
		@include container(0px, 0px, 100%, auto);
		background-color: $color4;
		@extend %font;

		&#login{
			background-color: $color2;
		}
	}

	a, button {
		&:focus{
			outline: 0;
		}

		&:hover{
			@extend %linkState;
		}
	}

	ul {
		@include container(0px, 0px);
	}

	p{
		@extend %paragraph;
	}

	nav{
		&.navbar{
			padding: 0px;

			a {
				padding: 0px;
				margin: 0px;
			}

			img {
				@media (min-width: 0px){
					max-width: 200px;
				}
				
				@media (min-width: 767px){
					max-width: 250px;
				}		
			}

			.navbar-nav{
				flex-direction: row;
			}

			.nav-item{
				a{
					font-size: 14px;
					color: $color4;

					&:hover{
						font-size: 14px;
						color: $color4;
					}

					@media (min-width: 0px){
						padding-right: .5rem;
					}
				}

				.dropdown-menu{
					padding: 0px;
					margin: 0px;
					border-radius: 0px;
					border: 0px;
				 	box-shadow: 1px 1px rgba(119, 119, 119, 0.9);

					a{
						background-color: $color1;
						font-size: 12px;
						color: $color7;
						padding: 5px 10px;

						&:hover{
							background-color: $color5;
						}
					}

					@media (min-width: 0px){
						position: absolute;
						z-index: 99;
					}
				}
			}

			.navbar-toggler{
				border: 0px;
				padding: 0px;
			}
		}
	}
	
	.alert{
		@include container(10px 15px 5px 15px, 10px 0px 0px 0px);
		@extend %title4;
		font-weight: 700;
		border: 0px;
		border-radius: 0px;

		ul{
			list-style:none;

			li{
				margin-bottom: 5px;

				i{
					margin-right: 10px;
				}
			}
		}
	}

	#form, #wrapper{
		.row{
			margin: -5px;

			.col-md-6, .col-md-4, .col-md-9, .col-md-3, .col-md-12 {
				padding: 6px;
			}
		}
	}

/*Section Style*/
	#container{
		@include container(10px 20px, 0px auto, 100%, auto, 1100px);

		h1{
			@extend %title;
			color: $color7;
		}
	}

	#header{
		@include container(0px, 0px, 100%, auto);
		background-color: $color1;
	}

	#body{
		@include container(0px, 0px, 100%, auto);
		background-color: $color4;
	}

	#footer{
		@include container(0px, 0px, 100%, auto);
		background-color: $color2;
		color: $color1;
		width: 100%;
		position: fixed;
		bottom: 0;
	}

/*Login Style*/
	#login{
		@include container(0px, 0px, 100%, 100vh);
	  	position: relative;
 		overflow: auto;

		#container{
			@include container(20px, 0px auto, 100%, auto, 500px);
			position: relative;
  			top: 20%;
  			color: white;
  			text-align: center;

  			&:nth-child(2){
  				padding: 0px;
  			}
		}

		img{		
			max-width: 500px;
			width: 100%;
		}

		#form{
			padding: 20px;
			background-color: $color4;

  			.form-group{
				@media (min-width: 0px){
			  		text-align: center;
  				}

  				@media (min-width: 767px){
			  		text-align: left;
  				}

  				label{
  					@extend %title2;
  					color: $color7;
				}
  				
  				.form-control{
  					@extend %title4;
  					border-radius: 0px;
  					padding: 5px 10px;
  					color: $color7;

  					&::placeholder{
  						color: $color5;
  					}
  				}
  			}

  			button{
				@extend %title3;
				width: 100%;
				padding: 5px 10px;
				display: block;
				border: 0px;
				background-color: $color2;

				&:hover{
					background-color: $color3;
				}
  			}
		}

		.action{
			@extend %title4;
			display: block;
			margin-top: 10px;
			color: $color7;

			&:hover{
				color: $color3;
			}
		}
	}

/*Page Style*/
	#dashboard{
		@include container(0px, 0px, 100%);
	  	position: relative;
	
		@media (min-width: 0px){
			height: auto;
		}
		@media (min-width: 500px){
			height: 80vh;
		}

		#container{
			@include container(20px, 0px, 100%, auto);
			position: relative;
  			top: 20%;
  			color: white;
		}

		h1{
			@extend %title;
			font-size: 40px;
			font-weight: 300;
			color: $color7;
		}

		h2{
			@extend %title2;
			font-size: 50px;
			font-weight: 700;
			color: $color7;
		}

		h3{
			@extend %title3;
			font-size: 30px;
			margin-bottom: 10px;
			color: $color7;;
		}
	}

/*Content style*/
	#content{
		@include container(0px, 15px 0px, 100%, auto);
		background-color: #ffffff;

		&.filter{
		 	box-shadow: 0px 3px 2px 1px rgba(119, 119, 119, 0.3);
		}

		.title{
			@include container(15px, 0px);
			@extend %title;
			font-size: 15px;
			font-weight: 700;
			color: $color1;
			background-color: $color2;
			border: 1px solid $color2;
		}

		#wrapper{
			@include container(0xp, 0px);
			border: 1px solid $color4;

			form, .table{
				@include container(10px, 0px);
			}

			form{
				.row{
					padding: 0px 5px;
					margin-bottom: 10px;
				}

				.form-group{
					padding: 0px;
					margin: 0px;

					label{
	  					@extend %title2;
	  					color: $color7;
					}

	  				.form-control{
	  					@extend %title4;
	  					border-radius: 0px;
	  					padding: 5px 10px;
	  					color: $color7;

	  					&::placeholder{
	  						color: $color5;
	  					}
	  				}
				}

				button{
					@extend %title3;
					padding: 5px 10px;
					margin: 0px 5px;
					margin-right: 5px;
					display: inline-block;
					border: 0px;
					background-color: $color2;

					&:hover{
						background-color: $color3;
					}

					&.reset{
						background-color: $color5;
						color: $color7;

						&:hover{
							background-color: $color4;
						}
					}
				}
			}

			#table, #details{
				@media (min-width: 0px){
					overflow-x: scroll;
				}

				@media (min-width: 800px){
					overflow-x: hidden;
				}
			}

			#table{
				padding: 15px;

				table{
					border: 0px;
						
					@media (min-width: 0px){
						width: auto;
					}

					@media (min-width: 500px){
						width: 100%;
					}

					th{
						background-color: $color4;
						font-weight: 700;
					}

					td{
						&.settings{
							background-color: $color4;
							a{
								font-size: 10px;
								color: $color7;
								margin-right: 10px;
								display: inline-block;

								&:hover{
									color: $color2;
								}

								i{
									margin-right: 2px;
								}
							}

							form{
								@include container(0px, 0px);
								width: auto;
								display: inline-block;

								button{
									@include container(0px, 0px);
									font-size: 10px;
									color: $color7;
									margin-right: 10px;
									display: inline-block;
									background-color: rgba(255,255,255,0);
									display: inline-block;

									&:hover{
										color: $color2;
										cursor: pointer;
									}

									i{
										margin-right: 2px;
									}
								}
							}

						}
					}

					th, td{
						@extend %title4;
						padding: 5px 10px;
						border: 1px solid $color7;
						text-align: center;

						&.date{
							font-weight: 700;
							background-color: $color5;
						}
					}
				}
			}

			#details{
				@include container(10px 15px, 0px);

				table{
					td{
						@extend %title3;
						padding: 5px 10px;
						padding-right: 20px;
						border: 1px solid $color1;
					
						&:nth-child(1){
							font-weight: 700;
							color: $color2;
							background-color: $color5;
						}

						&:nth-child(2){
							background-color: $color4;
						}
					}
				}

				.actions{
					@include container(10px, 0px);

					a{
						@media (min-width: 0px){
							display: inline-block;
							@include container(10px, 0px);
						}

						@media (min-width: 800px){
							display: block;
							@include container(10px, 0px 0px 5px 0px);
						}

						@extend %title4;
						font-weight: 700;
						color: $color1;
						background-color: $color3;

						&:hover{
							opacity: 0.5;
						}

						i{
							margin-right: 10px;
						}
					}

					form{
						@include container(0px, 0px);
						button{
							@media (min-width: 0px){
								display: inline-block;
								@include container(10px, 5px 0px 5px 0px);
							}

							@media (min-width: 800px){
								display: block;
								width: 100%;
								@include container(10px, 0px 0px 5px 0px);
							}

							background-color: $color7;
							@extend %title4;
							font-weight: 700;
							color: $color1;
							cursor: pointer;
							text-align: left;

							&:hover{
								opacity: 0.5;
							}

							i{
								margin-right: 10px;
							}
						}
					}
				}
			}
		}

		&.filter{
			@media (min-width: 0px){
				overflow-x: scroll;
			}

			@media (min-width: 800px){
				overflow-x: hidden;
			}

			#wrapper{
				@media (min-width: 0px){
					width: 1000px;
				}

				@media (min-width: 800px){
					width: 100%;
				}

				#report{
					form{
						#column{
							display: inline-block;
							width: 30.3%;

							&:nth-child(3), &:nth-child(4){
								padding-right: 10px;							
							}

							&:nth-child(5){
								max-width: 20px;							
							}

							.monthYear{
								#date{
									display: block;

									.start, .end{
										display: inline-block;
										width: 48%;
									}

									.gj-datepicker{
										width: 100% !important;

										button{
											background-color: transparent;
											margin: 0px;
											padding: 0px;
											border: 1px solid $color5;

											&:hover{
												color: $color2;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}

		&.report{
			#table{
				@media (min-width: 0px){
					overflow-x: scroll !important;
				}

				@media (min-width: 800px){;
					overflow-x: scroll !important;
				}

				table{
					width: auto !important;
				}

				form{
					@include container(0px, 0px);
					button{
						@include container(10px, 10px 0px 0px 0px);
						background-color: $color2;
						@extend %title4;
						font-weight: 700;
						color: $color1;
						cursor: pointer;
						text-align: left;

						&:hover{
							opacity: 0.5;
						}

						i{
							margin-right: 10px;
						}
					}
				}
			}
		}
	}

	h1#message{
		font-size: 5em;
		font-weight: 300;
		text-align: center;
		margin: 100px 0px;
		padding: 0px;
		color: $color5;
	}

/*Datepicker style*/
	.gj-picker{
		font-size: 12px;
	}