@import 'template';

/*Main Style*/
	body {
		@include container(0px, 0px, 100%, auto);
		background-color: $color2;
	}

	a, button {
		@extend %linkState;
	}

	a {
		:focus{
			outline: 0;
		}

		:hover{
			@extend %linkState;
		}
	}

	ul {
		@include container(0px, 0px);
	}

/*Container Style*/
	#container{
		@include container(10px, 0px, 100%, auto);
		@extend %font;
	}

	#header{
		@include container(0px, 0px, 100%, auto);
		background-color: $color1;
	}

	#navbar{
		@include container(0px, 0px, 100%, auto);
		background-color: $color1;
	}

	#body{
		@include container(0px, 0px, 100%, auto);
		background-color: $color1;
	}

	#footer{
		@include container(0px, 0px, 100%, auto);
		background-color: $color2;
		color: $color1;

		p{
			font-size: 12px;
		}
	}
