@import 'template';

/*Main Style*/
	body {
		@include container(0px, 0px, 100%, auto);
		background-color: $color2;
		@extend %font;
	}

	a, button {
		&:focus{
			outline: 0;
		}

		&:hover{
			@extend %linkState;
		}
	}

	ul {
		@include container(0px, 0px);
	}

	p{
		@extend %paragraph;
	}

	nav.navbar{
		padding: 0px;

		a {
			padding: 0px;
			margin: 0px;
		}

		img {
			@media (min-width: 0px){
				max-width: 200px;
			}
			
			@media (min-width: 767px){
				max-width: 250px;
			}		
		}

		.navbar-nav{
			flex-direction: row;
		}

		.nav-item{
			a{
				font-size: 14px;
				color: $color4;

				&:hover{
					font-size: 14px;
					color: $color4;
				}

				@media (min-width: 0px){
					padding-right: .5rem;
				}
			}

			.dropdown-menu{
				padding: 0px;
				margin: 0px;
				border-radius: 0px;
				border: 0px;
			 	box-shadow: 1px 1px rgba(119, 119, 119, 0.9);

				a{
					background-color: $color1;
					font-size: 12px;
					color: $color7;
					padding: 5px 10px;

					&:hover{
						background-color: $color5;
					}
				}

				@media (min-width: 0px){
					position: absolute;
					z-index: 99;
				}
			}
		}

		.navbar-toggler{
			border: 0px;
			padding: 0px;
		}
	}

/*Section Style*/
	#container{
		@include container(10px 20px, 0px auto, 100%, auto, 1100px);

		h1{
			@extend %title;
			color: $color7;
		}
	}

	#header{
		@include container(0px, 0px, 100%, auto);
		background-color: $color1;
	}

	#body{
		@include container(0px, 0px, 100%, auto);
		background-color: $color4;
	}

	#footer{
		@include container(0px, 0px, 100%, auto);
		background-color: $color2;
		color: $color1;
	}

/*Login Style*/
	#login{
		@include container(0px, 0px, 100%, 100vh);
	  	position: relative;
 		overflow: auto;

		#container{
			@include container(20px, 0px auto, 100%, auto, 500px);
			position: relative;
  			top: 20%;
  			color: white;
  			text-align: center;

  			&:nth-child(2){
  				padding: 0px;
  			}
		}

		img{		
			max-width: 500px;
			width: 100%;
		}

		#form{
			padding: 20px;
			background-color: $color4;

  			.form-group{
				@media (min-width: 0px){
			  		text-align: center;
	  				width: 100%;
	  				display: block;
  				}

  				@media (min-width: 767px){
			  		text-align: left;
	  				width: 48.5%;
	  				display: inline-block;
		  				  				
	  				&:nth-child(1){
	  					margin-right: 10px;
	  				}
  				}

  				label{
  					@extend %title2;
  					color: $color7;
				}
  				
  				.form-control{
  					@extend %title4;
  					border-radius: 0px;
  					padding: 5px 10px;
  					color: $color5;
  				}
  			}

  			button{
				@extend %title3;
				width: 100%;
				padding: 5px 10px;
				display: block;
				border: 0px;
				background-color: $color2;

				&:hover{
					background-color: $color3;
				}
  			}
		}
	}

/*Page Style*/
	#dashboard{
		@include container(0px, 0px, 100%);
	  	position: relative;
	
		@media (min-width: 0px){
			height: auto;
		}
		@media (min-width: 500px){
			height: 80vh;
		}

		#container{
			@include container(20px, 0px, 100%, auto);
			position: relative;
  			top: 20%;
  			color: white;
		}

		h1{
			@extend %title;
			font-size: 40px;
			font-weight: 300;
			color: $color7;
		}

		h2{
			@extend %title2;
			font-size: 50px;
			font-weight: 700;
			color: $color7;
		}

		h3{
			@extend %title3;
			font-size: 30px;
			margin-bottom: 10px;
			color: $color7;;
		}
	}

/*Content style*/
	#content{
		@include container(0px, 15px 0px, 100%, auto);
		background-color: #ffffff;

		.title{
			@include container(15px, 0px);
			@extend %title;
			font-size: 15px;
			font-weight: 700;
			color: $color1;
			background-color: $color2;
			border: 1px solid $color2;
		}

		#wrapper{
			@include container(0xp, 0px);
			border: 1px solid $color4;

			form, .table{
				@include container(10px, 0px);
			}

			form{
				.form-group{
					padding: 0px;
					margin: 0px 5px;
					margin-bottom: 10px;

					label{
	  					@extend %title2;
	  					color: $color7;
					}

	  				.form-control{
	  					@extend %title4;
	  					border-radius: 0px;
	  					padding: 5px 10px;
	  					color: $color7;
	  				}
				}

				button{
					@extend %title3;
					padding: 5px 10px;
					margin: 0px 5px;
					display: block;
					border: 0px;
					background-color: $color2;

					&:hover{
						background-color: $color3;
					}
				}
			}

			#table{
				overflow-x: scroll;
					padding: 15px;

				table{
					border: 0px;

					th{
						background-color: $color4;
						font-weight: 700;
					}

					th, td{
						@extend %title4;
						padding: 5px 10px;
						border: 1px solid $color7;
						text-align: center;

						&.date{
							font-weight: 700;
							background-color: $color5;
						}
					}
				}
			}
		}
	}

/*Custom style*/
	.add-account{
		form .username, form .password, form .emailAddress, form .accountName{
			width: 48.8%;
			display: inline-block;
		}
	}