/*Mixins*/
	@mixin container($padding, $margin, $width: null, $height: null, $maxwidth: null){
		padding: $padding;
		margin: $margin;
		width: $width;
		height: $height;
		max-width: $maxwidth;
	}

/*Extends*/
	%font{
		font-family: Lato;
	}

	%linkState{
		-o-transition:.5s !important;
		-ms-transition:.5s !important;
		-moz-transition:.5s !important;
		-webkit-transitio:n.5s !important;
		transition:.5s !important;
		text-decoration: none !important;
	}

	%title{
		padding: 0px;
		margin: 0px;
		marign-bottom: 18px;
		font-size: 24px;
		font-weight: 700;
	}

	%title2{
		padding: 0px;
		margin: 0px;
		marign-bottom: 15px;
		font-size: 14px;
		font-weight: 700;
	}

	%title3{
		padding: 0px;
		margin: 0px;
		marign-bottom: 15px;
		font-size: 14px;
		font-weight: 300;
	}

	%title4{
		padding: 0px;
		margin: 0px;
		marign-bottom: 15px;
		font-size: 12px;
		font-weight: 300;
	}

	%paragraph{
		padding: 0px;
		margin: 0px;
		marign-bottom: 15px;
		font-size: 12px;
		font-weight: 400;
	}

/*Resources*/
	$color1: #ffffff; /*White*/
	$color2: #2878b3; /*Blue*/
	$color3: #1c5e8e; /*Dark Blue*/
	$color4: #f9f9f9; /*Dirty White*/
	$color5: #dbd9d9; /*Dark Grey*/
	$color6: #ffb056; /*Orange*/
	$color7: #777777; /*Super Dark Grey*/
